
/*公共样式*/
body{font-size:12px; font-family:Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif; }
body,p,ul,li,ol,h1,h2,h3,h4,h5,h6,dl,dt,dd,form,iframe,input,select{margin:0;padding:0; border:none;}
ul,ul li,ol,li{list-style:none outside none;}
img{ border:0 none; vertical-align:top;}
input,select{vertical-align:middle;}
/*设置左右浮动，class="fl"为左浮动，class="fr"为右浮动*/
.fl { float:left; display:inline;}
.fr { float:right; display:inline;}
/*把h1--h6的字体大小和加粗样式全部清除掉，这样h标签就跟普通标签没有区别*/
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
/*a样式*/
a{text-decoration:none; color:#333;}
a:link, a:visited { text-decoration:none;}
a:hover { text-decoration:none;color: #c52225;}
/*clear,clearfix是清楚浮动的----clearfix用法是：给浮动元素的父级添加class="clearfix"，即可清楚子元素的浮动，目前是业内比较流行的清楚浮动方法。*/
.clear{ clear:both;}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {zoom:1;display:block;_height:1px;clear:both;}

/* 公共实体*/
.main{ width:966px; margin:0 auto; padding:0 17px;}
/*地图*/
.garrison_map {height: 480px;position: relative;background: #ffae44;}
.nsStart .ns_nsStart{ width:390px; position:absolute; background:url(../img/06.jpg) no-repeat scroll left top; top:50px; left:50%; height:381px; margin-left:-510px; padding:0px 0 0 610px; }
.nsStart .ns_nsStart li{ width:110px; float:left; font-size:16px; padding-top: 20px; background:url(../img/line.jpg) repeat-y; padding-left:20px}
.nsStart .ns_nsStart li i{ background:url(../img/28_04.png) no-repeat; color: #fff; font-size:14px; line-height:18px; padding-top:8px; height:66px; position: absolute;  width:50px;font-style: normal; text-align:center;}
.nsStart .ns_nsStart li.st_1 i{ top:150px; left:265px;}/*德胜凯旋*/
.nsStart .ns_nsStart li.st_2 i{ top: 148px; left:120px; z-index:3;}/*学院派*/
.nsStart .ns_nsStart li.st_3 i{ top: 65px; left:222px;}/*金澳国际*/
.nsStart .ns_nsStart li.st_4 i{ top: 145px; left:150px; z-index:2;}/*依都阁*/
.nsStart .ns_nsStart li.st_5 i{ top:210px; left:390px; z-index:10;}/*永利国际*/
.nsStart .ns_nsStart li.st_6 i{ top: 115px; left:130px;}/*智慧大厦*/
.nsStart .ns_nsStart li.st_7 i{ top:175px; left:365px; z-index:9;}/*东方银座*/
.nsStart .ns_nsStart li.st_8 i{ top: 0px; left:75px;}/*立方庭*/
.nsStart .ns_nsStart li.st_9 i{ top:165px; left:385px;}/*宇飞大厦*/
.nsStart .ns_nsStart li.st_10 i{ top: 35px; left:54px;}/*中关村公馆*/
.nsStart .ns_nsStart li.st_11 i{ top:170px; left:130px; z-index:4;}/*金贸大厦*/
.nsStart .ns_nsStart li.st_12 i{ top:295px; left:490px;}/*金茂府*/
.nsStart .ns_nsStart li.st_13 i{ top:295px; left:440px;}/*首城国际*/
.nsStart .ns_nsStart li.st_14 i{ top:125px; left:160px;}/*科技会展中心*/
.nsStart .ns_nsStart li.st_15 i{ top:125px; left:100px;}/*数码银座*/
.nsStart .ns_nsStart li.st_16 i{ top:145px; left:95px;}/*铸诚大厦*/
.nsStart .ns_nsStart li.st_17 i{ top:5px; left:520px; z-index: 1;}/*东亚望京中心*/
.nsStart .ns_nsStart li.st_18 i{ top:10px; left:535px;}/*合生麒麟社*/
.nsStart .ns_nsStart li.st_19 i{ top:10px; left:505px;}/*悠乐汇*/
.nsStart .ns_nsStart li.st_20 i{ top:125px; left:20px;}/*玲珑天地*/
.nsStart .ns_nsStart li.st_21 i{ top:270px; left:365px;}/*名敦道*/
.nsStart .ns_nsStart li:hover{ background:url(../img/ico.png) no-repeat scroll 0 0;}
.nsStart .ns_nsStart li:hover i{ background-position:right 0; z-index:11;}

.footer{ height:340px; background:#232323; border-top:1px solid #5a5a5a; padding-top:90px;}
.footer .logolink{ float:left; margin-right:50px;}
.footer .wx{ float:right; width:60px; height:60px; display:block; background:url(../img/weixin.png) no-repeat; position:relative;}
.footer .wx img{ margin-left:-120px; position:absolute; left:50%; bottom:56px; display:none;}
.footer .wx:hover img{ display:block;}
.footer .link{ color:#fff; font-size:16px;  display:inline-block;  padding:21px 15px 10px 0px;}
.footer .bq{ color:#9e9e9e; font-size:16px;}