/* header css*/
.header {
	overflow: hidden;
	width: 100%;
	height: 460px;
	background: #232323;
}
.header .focus {
	position: absolute;
}
.header .focus li, .header .header_nav .nav li {
	float: left;
}
.header .focus li img {
	width: 100%;
	height: 320px;
}
.header .header_nav {
	height: 160px;
	margin: 0 auto;
	color: #fff;
	width: 1000px;
	position: relative;
	z-index: 999;
}
.header .header_nav a {
	color: #fff;
}
.header .header_nav h2 {
	line-height: 150px;
	padding-top: 40px;
	letter-spacing: 30px;
	font-size: 25px;
	float: left;
}
.header .header_nav h2 img {
	margin-right: 30px;
}
.header .header_nav .nav {
	float: right;
	font-size: 16px;
}
.header .header_nav .nav li {
	margin: 0px 15px;
	padding: 40px 20px 0;
	line-height: 50px;
}
.header .header_nav .nav li:hover {
	background:rgba(0, 0, 0, 0.35) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
filter:Alpha(opacity=35); background:#000;/*实现IE背景透明*/
}
.header .header_nav .nav li.on {
	background:rgba(0, 0, 0, 0.35) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
filter:Alpha(opacity=35); background:#000;/*实现IE背景透明*/
}
.content {
	margin: 0 auto;
	width: 960px;
}
.work {
	font-size:18px;
	line-height:70px;
	letter-spacing: 5px;
	background: url(../img/hearderline.png) no-repeat scroll center 20px;
	color: #f3982d;
	text-align: center;
	margin-top: 150px;
	position: relative;
}
.work_sl {
	width: 370px;
	text-align: center;
	letter-spacing: 20px;
	border: 1px solid #f3982d;
	font-size:32px; 
	line-height:38px;
	color: #363636;
	margin: -20px auto;
}
/*加入我们*/
.text1 {
	font-size: 15px;
	letter-spacing: 0.6px;
	margin: 50px 20px;
	text-indent: 2em;
}
.content .join li {
	border: 1px solid #dedede;
	width: 300px;
	height: 430px;
	float: left;
	margin: 0px 0px 0px 15px;
}
.content .join li img {
	vertical-align: middle;
	padding: 20px;
	position: relative;
}
.content .join li .title {
	font-size:28px;
	line-height:36px;
	margin-left: 45px;
	margin-top: -340px;
	position: absolute;
	width: 210px;
	color: #363636;
}
.content .join li .decoration {
	width: 40px;
	height: 40px;
	background: #f7c189;
	margin-left: 120px;
	margin-top: -430px;
	position: absolute;
}
.content .join li h2 p {
	font-size:16px;
	line-height:32px;
	color: #5b5b5b;
}
.content .mail {
	text-align: center;
	margin: 50px auto 70px;
	font-size:18px;
	line-height:36px;
	color: #202020;
}
/*友情链接*/
.content .linkimg {
	margin: 50px auto;
}
.content .linkimg li {
	float: left;
	padding: 0 10px 40px 10px;
	width: 220px;
	text-align:center;
	font-size:16px;
	line-height:26px;
}
.content .linkimg img {
	border: 1px solid #e2e2e2;
}
/*联系我们*/
.content .address {
	font-size:48px; 
	line-height:55px;
	text-align: center;
	color: #363636;
	margin: 50px auto 50px;
	border-bottom: 1px solid #333e4b;
	padding-bottom: 30px;
}
.content .contact_us {
	font-size: 30px;
	line-height: 70px;
	text-align: center;
	padding-top: 20px;
	border-bottom: 1px solid #333e4b
}
.content .contact {
	font-size:18px;
	line-height:36px;
}
.content .project {
	margin: 60px auto 0;
	overflow: hidden;
}
.content .project li {
	width: 280px;
	height: 140px;
	float: left;
	margin: 0 0 65px 45px;
	border-right: 1px solid #ccc1b4;
	text-align: center;
	padding-right: 140px;
}
.content .project li .projectname {
	font-size:28px;
	line-height:38px;
	color: #363636;
}
.content .project li p {
	font-size:18px;
	line-height:38px;
	color: #363636;
}
.content .project li.right {
	border-right: none;
}
/*关于nash*/
.about {
	margin: 55px 0 45px;
	font-size: 15px;
	line-height: 30px;
}
.text {
	text-indent: 2em;
}
.ourcourse {
	height: 370px;
	background: #f4f4f4;
	width: 100%;
	font-size: 16px;
	line-height: 35px;
}
.course {
	width: 960px;
	padding: 50px 20px;
	margin: 0 auto;
}
.course h3 {
	font-size: 30px;
	line-height: 40px;
}
.course .and {
	width: 390px;
	text-align: center;
	margin: 30px auto;
	font-size: 18px;
	line-height: 38px;
}
.team {
	width: 100%;
	font-size: 16px;
	line-height: 30px;
	background: #212c38;
	color: #f5e8d9;
	padding-bottom: 20px;
}
.team img {
	width: 300px;
	height: 300px;
}
.team .ourteam {
	font-size: 30px;
	color: #f19341;
	padding-top: 50px;
}
.team p {
	font-size: 18px;
	line-height: 50px;
}
.team .leadership li {
	width: 300px;
	margin-top: 30px;
	float: left;
}
.team .middle {
	margin-left: 30px;
	margin-right: 30px;
}
.team .leadership h4 {
	color: #f5a156;
	font-size: 28px;
	border-bottom: 1px solid #807971;
	line-height: 50px;
	height: 50px;
}
.team .leadership h5 {
	color: #363636;
	font-size: 18px;
	margin-top: 35px;
}
.team .leadership .introduction {
	font-size: 16px;
	line-height: 30px;
	padding-top: 25px;
	padding-bottom: 40px;
}
.team .joinnash {
	font-size: 18px;
}
div.introduction {
	font-size: 16px;
	line-height: 30px;
	color: #363636;
}
div.introduction h3 {
	font-size: 32px;
	padding-bottom: 20px;
}
.team .active {
	width: 960px;
}
.team .active li {
	margin-bottom: 30px;
	margin-top: 0;
}
.team .active li img {
	width: 100%;
	height: 100%;
}
.dosting {
	background: url(../img/our_02.jpg) no-repeat;
	overflow: hidden;
}
.wedo {
	text-align: center;
	margin-top: 65px;
	margin-bottom: 35px;
	color: #363636;
}
.wedo p {
	font-size: 18px;
	line-height: 30px;
	padding-bottom: 30px;
}
.wedo p span {
	font-size: 48px;
	color: #f39938;
}
.wedo .texttitle {
	font-size: 30px;
}
.other {
	margin: 60px auto 0;
	text-align: center;
	width: 1000px;
}
.other h3 {
	color: #808080;
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 40px;
}
.other li {
	float: left;
	margin-right: 20px;
}
.other p {
	position: relative;
	top: -60px;
	height: 60px;
	line-height: 60px;
	color: #fff;
	font-size: 24px;
}
.trusteeship {
	text-align: center;
	background: #f4f4f4;
	padding-top: 60px;
	padding-bottom: 40px;
}
.trusteeship h3 {
	font-size: 30px;
	line-height: 30px;
	color: #f39938;
}
.trusteeship .goto {
	background: #f3982d none repeat scroll 0 0;
	color: #fff;
	display: block;
	font-size:16px;
	line-height:40px;
	margin: 30px auto;
	width: 230px;
}
.trusteeship .phone {
	color: #6f6f6f;
	font-size:36px;
	line-height:40px;
}
/*进驻纳什*/

.content .garrison_c {
	text-indent: 2em;
	font-size: 15px;
    line-height: 35px;
    padding: 45px 0;
}
.garrison_map {
	height: 480px;
	position: relative;
	background: #ffae44;
}
.nsStart .ns_nsStart{ width:320px; position:absolute; background:url(../img/06.jpg) no-repeat scroll left top; top:50px; left:50%; height:381px; margin-left:-510px; padding:0px 0 0 680px; }
.nsStart .ns_nsStart li{ width:120px; float:left; font-size:20px; line-height:55px; background:url(../img/line.jpg) repeat-y; padding-left:20px}
.nsStart .ns_nsStart li i{ background:url(../img/28_04.png) no-repeat; color: #fff; font-size:14px; line-height:18px; padding-top:8px; height:66px; position: absolute;  width:50px;font-style: normal; text-align:center;}
.nsStart .ns_nsStart li.st_1 i{ top:150px; left:265px;}/*德胜凯旋*/
.nsStart .ns_nsStart li.st_2 i{ top: 148px; left:120px; z-index:3;}/*学院派*/
.nsStart .ns_nsStart li.st_3 i{ top: 65px; left:222px;}/*金澳国际*/
.nsStart .ns_nsStart li.st_4 i{ top: 145px; left:150px; z-index:2;}/*依都阁*/
.nsStart .ns_nsStart li.st_5 i{ top:210px; left:390px; z-index:10;}/*永利国际*/
.nsStart .ns_nsStart li.st_6 i{ top: 115px; left:130px;}/*智慧大厦*/
.nsStart .ns_nsStart li.st_7 i{ top:175px; left:365px; z-index:9;}/*东方银座*/
.nsStart .ns_nsStart li.st_8 i{ top: 0px; left:75px;}/*立方庭*/
.nsStart .ns_nsStart li.st_9 i{ top:165px; left:385px;}/*宇飞大厦*/
.nsStart .ns_nsStart li.st_10 i{ top: 35px; left:54px;}/*中关村公馆*/
.nsStart .ns_nsStart li.st_11 i{ top:170px; left:130px; z-index:4;}/*金贸大厦*/
.nsStart .ns_nsStart li.st_12 i{ top:295px; left:490px;}/*金茂府*/
.nsStart .ns_nsStart li.st_13 i{ top:295px; left:442px;}/*首城国际*/
.nsStart .ns_nsStart li:hover{ background:url(../img/ico.png) no-repeat scroll 0 0;}
.nsStart .ns_nsStart li:hover i{ background-position:right 0; z-index:11;}
.main_pic {
	background: #f4ebe1;
	padding: 50px 0;
}
.garrison_pic {
	width: 960px;
	margin: 0 auto;
	background: #fff;
}
.garrison_pic li {
	width: 240px;
	height: 210px;
	font-size:24px;
	line-height:50px;
	color: #fff;
	position: relative;
}
.garrison_pic li div {
	position: relative;
	-moz-opacity: 0.3;
	filter: alpha(opacity=30);
	background: #000;
	opacity: 0.3;
	bottom: 50px;
	height: 50px;
}
.garrison_pic li p {
	position: absolute;
	color: #fff;
	z-index: 999;
	bottom: 0px;
	padding-left: 20px;
}
.ns_rzqy {
	width: 960px;
	margin: 50px auto;
}
.ns_rzqy .rzqy {
	font-size:36px;
	line-height:72px;
	color: #535353;
	text-align: center;
}
.ns_rzqy .h2title {
	background: #f9f9f9;
	font-size:22px;
	line-height:60px;
	padding-left: 20px;
	color: #676767;
	margin: 20px 0px;
}
.inCompany {
	width: 178px;
	border: 1px solid #e2e2e2;
	margin: 10px 10px;
	padding: 20px;
}
.inCompany .incom_pic {
	width: 175px;
	height: 120px;
	border-bottom: 1px solid #bebebe;
}
.inCompany .incom_pic img {
	width: 175px;
	height: 120px;
}
.inCompany h3 {
	font-size:16px;
	line-height:26px;
	margin-top: 15px;
}
.inCompany p {
	
	font-size:14px;
	line-height:26px;
	color: #696969;
}
.foreign {
	width: 220px;
	margin: 10px 10px;
}
.foreign .incom_logo {
	width: 218px;
	height: 70px;
	border: 1px solid #e2e2e2;
}
.foreign .incom_logo img {
	width: 218px;
	height: 70px;
}
.foreign h3 {
	font-size:16px;
	line-height:26px;
	margin-top: 15px;
}
/*项目样式*/
/*进驻纳什 项目*/
.projectheader {
	overflow: hidden;
	width: 100%;
	height: 730px;
    background-position: center 130px;
    background-repeat: no-repeat;
	
}
.projectheader .headerbg{ width:100%; background: #232323; height:130px;}
.projectheader .focus {
	position:relative;
}
.projectheader .focus li, .projectheader .header_nav .nav li {
	float: left;
}
.projectheader .focus li img {
	width: 100%;
	height:810px;
	 margin-top: -50px;
}
.projectheader .header_nav {
	height: 160px;
	margin: 0 auto;
	color: #fff;
	width: 1000px;
	position: relative;
	z-index: 999;
}
.projectheader .header_nav a {
	color: #fff;
}
.projectheader .header_nav h2 {
	line-height: 150px;
	padding-top: 30px;
	letter-spacing: 30px;
	font-size: 25px;
	float: left;
}
.projectheader .header_nav h2 img {
	margin-right: 30px;
}
.projectheader .header_nav .nav {
	float: right;
	font-size: 16px;
}
.projectheader .header_nav .nav li {
	margin: 0px 15px;
	padding: 40px 20px 0;
	line-height: 50px;
}
.projectheader .header_nav .nav li:hover {
	background:rgba(0, 0, 0, 0.35) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
filter:Alpha(opacity=35); background:#000;/*实现IE背景透明*/
}
.projectheader .header_nav .nav li.on {
	background:rgba(0, 0, 0, 0.35) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
filter:Alpha(opacity=35); background:#000;/*实现IE背景透明*/
}
.xmtitle {
	font-size:48px;
	line-height:82px;
	margin-top: 30px;
	text-align: center;
	color:#363636;
}
.xm_c {
	text-align: center;
	font-size:24px;
	line-height:48px;
	margin-bottom: 20px;
	color:#363636;
}
.pro_display {
	background: #f5ebdd;
	height: 520px;
}
.pro_display .layout {
	height: 400px;
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 60px;
    width: 960px;
}
.pro_display .layout .left {
	float:left;

}
.pro_display .layout .right {
	float:right;

}
.pro_display .layout .roll{
	 width:100%;
	 overflow:hidden;
	 height:400px;
	
	}
.rct_into {
	background: #f4f4f4;
	height: 360px;
}
.rct_into .pro_w770 {
	background: url(../img/pro_display.png) no-repeat;
	margin-top: 60px;
	width: 720px;
	height: 240px;
	padding-left: 50px;
	color: #535353;
	margin-right: 20px;
}
.rct_into .pro_w770 h3 {
	font-size:36px;
	line-height:100px;
}
.rct_into .pro_w770 p {
	font-size:18px;
	line-height:36px;
}
.rct_into .pro_w140 {
	width: 140px;
	margin-top: 60px;
}
.rct_into .pro_w140 p {
	text-align: center;
	font-size:14px;
	line-height:32px;
}
.rct_into .pro_w140 p.fs16 {
	font-size:16px;
	line-height:32px;
}
.rct_into .pro_w140 img {
	width: 140px;
	height: 180px;
	text-align: center;
}
.pro_introduction {
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	padding-top: 30px;
	color:#535353;
}
.pro_map {
	margin-top: 50px;
}
.pro_map .pro_w510 {
	width: 510px;
	margin-right: 20px;
}
.pro_map .pro_w510 p {
	font-size:18px;
	line-height:36px;
	color: #535353;
}
.pro_map .pro_w420 {
	width: 420px;
	text-align: center;
	color: #fff;
	font-size:14px;
  background:#f5ad60;
	
}

.pro_map .pro_w420 a {
	color: #fff;
}

.pro_map .pro_w420 .mapfont{
	height:40px;
	line-height:40px;
	}
.pic_ul {
	width: 970px;
	margin: 45px 0 60px;
}
.pic_ul li {
	margin: 5px;
}
.pic_ul li.mt190 {
	margin-top: -195px;
}
.pic_ul li.ml265 {
	margin-top: -195px;
	margin-left: 275px;
*margin-left:0px !important;
}
.ganyan {
	background: #f5ebdd;
	height: 720px;
	padding-top: 40px;
}
.ganyan h2 {
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	color:#535353;
	
}
.ganyan .gy_ul {
	margin-top: 30px;
}
.ganyan .gy_ul .gy_w160 {
	width: 160px;
}
.ganyan .gy_ul .gy_w765 {
	width: 760px;
	color: #4d4d4d;
	font-size:14px;
	line-height:30px;
	border-bottom: 1px solid #d3ccc2;
	padding-bottom: 30px;
	padding: 0 20px;
}
.ganyan .gy_ul .gy_w765 p {
	margin-bottom: 15px;
}
.ganyan .gy_ul .gy_w765 p img {
	width: 160px;
	height: 160px;
	border-radius: 80px;
	-moz-border-radius: 80px;
	-o-border-radius: 80px;
	-webkit-border-radius: 80px;
}
.ganyan .gy_ul .gy_w765 p.fs20 {
	font-size:20px;
	line-height:30px;
	color: #363636;
}
.ganyan .gy_ul .gy_w765 p span.yhleft {
	background: url(../img/yihao.png) no-repeat;
	width: 32px;
	display: inline-block;
	padding-left: 10px;
}
.ganyan .gy_ul .gy_w765 p span.yhrigth {
	background: url(../img/yihao.png) no-repeat scroll 0 -74px;
	width: 32px;
	display: inline-block;
	padding-left: 10px;
}
.fj_ns {
	background: #f4f4f4;
	height: 460px;
	padding-top: 30px;
}
.fj_ns h2 {
	font-size: 30px;
	line-height: 30px;
	text-align: center;
}
.fj_ns ul li {
	width: 300px;
	margin: 20px 10px;
	color:#363636;
}
.fj_ns ul li p {
	text-align: center;
	color: #696969;
	font-size:18px;
	line-height:30px;
	margin-top: 20px;
}
.fj_ns ul li img {
	width: 300px;
	
}


/*滚动样式*/
.pro-img-box{width:960px;height:400px; margin:0 auto; padding-top:60px;}
img.pro-img{width:410px;height:400px;float:left;display:inline;}
.ban{width:410px; height:400px; overflow:hidden; float:right; }
.ban2{ width:400px; height:410px; position:relative; overflow:hidden;}
.ban2 ul{ position:absolute; left:0; top:0;}
.ban2 ul li{ width:410px; height:400px;}
.prev{ float:left; cursor:pointer;}
.num{ height:82px;overflow:hidden; width:430px; position:relative;float:left;}
.min_pic{ padding-top:10px; width:500px;}
.num ul{ position:absolute; left:0; top:0;}
.num ul li{ width:80px; height:80px; margin-right:5px; padding:1px;}
.num ul li.on{ border:1px solid red; padding:0;}
.prev_btn1{ width:16px; text-align:center; height:18px; margin-top:40px; margin-right:20px; cursor:pointer; float:left;}
.next_btn1{  width:16px; text-align:center; height:18px; margin-top:40px;cursor:pointer;float:right;}
.prev1{ position:absolute; top:40%; left:20px; width:28px; height:51px;z-index:9;cursor:pointer;}
.next1{ position:absolute; top:40%; right:20px; width:28px; height:51px;z-index:9;cursor:pointer;}
.mhc{ background:#000; width:100%;opacity:0.8;-moz-opacity:0.8;filter:alpha(Opacity=80); position:absolute; left:0; top:0; display:none;}
.pop_up{ width:500px; height:500px; padding:10px; background:#fff; position:fixed; -position:absolute; left:50%; top:50%; margin-left:-255px; margin-top:-255px; display:none; z-index:99;}
.pop_up_xx{ width:40px; height:40px; position:absolute; z-index:9999; top:1px; right:0; cursor:pointer;}
.pop_up2{ width:500px; height:500px; position:relative; overflow:hidden;}
.pop_up2{ width:500px; height:500px; position:relative; overflow:hidden; float:left;}
.pop_up2 ul{ position:absolute; left:0; top:0;}
.pop_up2 ul li{ width:500px; height:500px; float:left; text-align:center;}
.imgFocus{height:600px;width:100%;overflow:hidden;}
.imgFocus .imgFocusBox{width:1000px;height:600px; margin:0 auto; position:absolute;top:0;left:50%;margin-left:-510px;}
.imgFocus ul{width:9999px;position:absolute;left:0;}
.imgFocus ul li{width:1000px;float:left;}
.imgFocus img{display:block;width:100%;}
.imgFocus a{position:absolute;width:560px;height:100%;left:50%;top:0;background-color:rgba(0,0,0,.3);background-repeat:no-repeat;}
.imgFocus a:hover{background-color:rgba(0,0,0,.6);}
.imgFocus a.prev{margin-left:-1070px;background-image:url(http://s.nashspace.com/r/i/prev.png);background-position:right center;}
.imgFocus a.next{margin-left:490px;background-image:url(http://s.nashspace.com/r/i/next.png);background-position:left center;}



/*周边滚动样式*/
#around{ width:100%; position:absolute; height:2000px; z-index:2; display:none;  top:-200px;background-color:rgba(0,0,0,0.7);}
#bannerbox { width: 660px; height: 530px; overflow: hidden; position:fixed; -position:absolute; left:50%; top:50%; margin-left:-310px; margin-top:-255px; display:none; z-index:3;}
#luobo { width: 660px; height: 530px; clear: both; overflow: hidden; position: relative; float: left; }
#luobo ul { width: 660px; height: 530px; float: left; position: absolute; clear: both; padding: 0px; margin: 0px; }
#luobo ul li { float: left; width: 660px; height: 530px; overflow: hidden; position: relative; padding: 0px; margin: 0px; }
#luobo .preNext { width: 550px; height: 530px; position: absolute; top: 0px; cursor: pointer; }
#luobo .pre { left: 0; background:url(../img/sprite.png) no-repeat left center; }
#luobo .next { right: 0; background:url(../img/sprite1.png) no-repeat right center; }

/*业主服务*/
.modal{width:100%;height:100%;background:rgba(0,0,0,.9);position:fixed;top:0;left:0;z-index:100;display:none;}
.modal .service-card{width:900px;height:320px;position:absolute;top:50%;left:50%;margin:-160px 0 0 -450px;color:#fff;}
.modal .service-card img{width:270px;height:320px;background:#f5ad60;margin-right:50px;float:left;}
.modal .service-card h4{font-size:42px;line-height:160px}
.modal .service-card small{font-size:20px;line-height:30px;}
.modal .service-card h5,.modal .service-card h6{font-size:32px;line-height:50px;}


/*空间架构师*/
.layer{ position:absolute;}
