
html{width: 100%;font-size: 100px;font-family: "Hiragino Sans GB",sans-serif;}
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 117.1875px;}
}
@media (min-device-width : 414px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio : 3){
    html{font-size: 129.375px;}
}
body{width: 100%;overflow-y: scroll;font-size: 0.12rem;line-height: 1.5;color:#333;background:#F5F7FA;min-height:100%;padding-top:.3rem;}
*{margin:0;padding:0;border:0;}
*,*:before,*:after {-webkit-box-sizing: border-box;box-sizing: border-box;}
ul {list-style: none;}
img{vertical-align: top;max-width:100%;border:none;}
a{text-decoration:none;color:#333;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a:active{color:#2bbc69;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
h1,h2{font-size:.18rem;}
h3,h4{font-size:.16rem;}
h5,h6{font-size:.14rem;}

i{font:inherit;}
a{color:#555;text-decoration:none;outline:none;}
a:hover{text-decoration:none;outline:none;}
.hide{display:none;}
.show{display:block;}

header{width:100%;height:.3rem;background:#363636;position:fixed;top:0;left:0;line-height:.3rem;z-index: 99;}
header h1 img{width:.3rem;margin-right:.05rem;}
header h1{font-size:.14rem;color:#fff;}
header .mainNav{position:absolute;top:0 ;right:0;}
header .mainNav li{float:left;height:.3rem;}
header .mainNav li:first-child{display:none;}
header .mainNav li a{color:#aaa;padding:0 .03rem;}
header .mainNav li.on{background:#454545;}

.index-top{background:#144461 url(http://s.nashspace.com/r/i/00.jpg) center top no-repeat;width:100%;background-size:contain;height:1.36rem;padding-top:.15rem;}
.index-top h2,.index-top p{text-align:center;color:#bbb;}
.index-top .login{display:block;margin:.1rem auto;width:.9rem;text-align:center;color:#fff;background:#f69002;}
.layer{padding:0 .1rem;}
.layer h3{text-align:center;margin-bottom:.05rem;}
.layer small{text-align:center;display:block;}
.layer p{margin-bottom:.05rem;}
.index-space p {text-align: center;}
/*.layer li{margin:.1rem 0 .05rem;}*/
.layer li h4{margin-top:.05rem;}
.index-space li {margin-top: .3rem;}
.index-space li p {text-align: left;}

.index-service ul:after{content:'\0020';display:block;clear:both;height:0;}
.index-service li{width:50%;float:left;}

.index-social{height:1.6rem;background:#CDA981 url(http://s.nashspace.com/r/i/dt_01.jpg) center no-repeat;color:#fff;}
.index-social h3{margin-bottom:.25rem;}
.index-social .left{text-align:left;float:left;}
.index-social .right{float:right;text-align:right;}

.index-join,.join-join{background:#FBC93B;color:#363636;position:relative;}

ul.join-map{display:block;height:2rem;background:url(http://s.nashspace.com/r/i/06.jpg) left top no-repeat;background-size:contain;position:relative;}
ul.join-map li{/*width:120px;*/height:60px;float:left;font-size:20px;}
ul.join-map li a{position:absolute;width:.7rem;height:.25rem;background:url(http://s.nashspace.com/r/i/m01.png) no-repeat;background-size:contain;color:#fff;font-size:.11rem;padding-left:.2rem;}
ul.join-map li a i{display:none;}
ul.join-map li.ij-1 a{top:.9rem;left:1.41rem;}
ul.join-map li.ij-2 a{top:.82rem;left:2.1rem;}
ul.join-map li.ij-3 a{top:.6rem;left:1.15rem;}
ul.join-map li.ij-4 a{top:.65rem;left:.4rem;}
ul.join-map li.ij-5 a{top:1.3rem;left:2rem;}
ul.join-map li.ij-6 a{top:1.65rem;left:2.3rem;}
ul.join-map li.ij-7 a{top:1.1rem;left:1.8rem;z-index:9;}

.index-service{background:#F5EBE0 url(http://s.nashspace.com/r/i/04.jpg) center no-repeat;}
.index-service ul{display:block;margin:.1rem -10px;}
.index-service li{background:#f5f5f5;width:48%;margin:0 1% .07rem;height:1.7rem;}
.index-service .icon{width:100px;height:100px;background-repeat:no-repeat;background-image:url(http://s.nashspace.com/r/i/09.png);display:block;margin:.3rem auto .2rem;}
.index-service .i1{background-position:0 0;}
.index-service .i2{background-position:-100px 0;}
.index-service .i3{background-position:-200px 0;}
.index-service .i4{background-position:-300px 0;}
.index-service h4{font-size:.2rem; text-align:center;color:#656565;}
.index-service p{display:block;width:100%;height:100%;padding-top:.3rem;background:#F9AF55;font-size:.15rem;color:#fff;line-height:180%;text-align:center;display:none;}
.index-service li.on p{display:block;}
.index-service li.on h4,.index-service li.on i{display:none;}

.index-job{background:#475665 url(http://s.nashspace.com/r/i/071.jpg) center no-repeat;background-size:contain;height:1rem;position:relative;text-align:center;text-align:center;}
.index-job h3{color:#eee;margin-top:.1rem;}
.index-job a{font-size:.13rem;color:#fff;}

footer{width:100%;height:.5rem;color:#777;background:#363636;}
footer.footer-low{height: .55rem;}
footer a.logo-foot{float:left;margin-right:.1rem;}
footer a.logo-foot img{width:.4rem;}
footer a.link{margin:0 .1rem 0 0;display:inline-block;color:#fff;}
footer a.wx{display:none;}
footer p.copyRight{margin-top:.03rem;}

.layer img{width:100%;}
.layer-ban{height:.83rem;background:#C3C3C3 url(http://s.nashspace.com/r/i/096.jpg) center top no-repeat;background-size:contain;}

.layer-ban.service-tit{ text-align:center;font-size:.13rem;padding:.5rem 0 0;color:#f18e38;}
.layer-ban.service-tit .index-top-1 a{background:#f69002;color:#fff;padding:.1rem .2rem;margin:.3rem 0 .2rem;display:inline-block;}
.layer-ban.service-tit .index-top-1 span a{background:none;color:inherit;padding:0;margin:0;display:inline-block;}
.layer-ban-1{height:2.400rem;background:#C3C3C3 url(http://s.nashspace.com/r/i/096.jpg) center top no-repeat;background-size:100% 2.4rem;}
.index-top-1 span {background: #ffffff; color: #000000;};

.about-info2{background:#f3e0ce;}

.about-tit{height:2.5rem;background-size:100% 2.5rem;}
.about-tit-no{height:.5rem;background-size:100% 2.5rem;}
.join-tit{height:1.5rem;background-size:180%;}

.co-link {height:4.3rem;}
.co-link-list:after{content:'\0020';display:block;clear:both;height:0;}
.co-link-list li{width:50%;float:left;padding:.03rem .05rem}

.imgFocus{background:#333;width:100%;position:relative;padding:0;}
.imgFocus .imgFocusBox{width:100%;height:2.1rem;overflow:hidden;position:relative;}
.imgFocus ul{width:9999px;position:absolute;}
.imgFocus ul:after{content:'\0020';display:block;clear:both;height:0;}
.imgFocus ul li{width:3rem;float:left;}
.imgFocus a{position:absolute;width:.3rem;height:100%;background-color:rgba(0,0,0,.7);background-repeat:no-repeat;z-index:1;background-size:contain;}
.imgFocus a.prev{position:absolute;left:0;top:0;background-image:url(http://s.nashspace.com/r/i/prev.png);background-position:right center;}
.imgFocus a.next{position:absolute;top:0;right:0;background-image:url(http://s.nashspace.com/r/i/next.png);background-position:left center;}
iframe{margin:0 -.1rem;}
.join-project{height:6.5rem;background-size:240%; background:#f4ebe1;}
.modal{width:100%;height:100%;background:rgba(0,0,0,.7);position:fixed;top:0;left:0;z-index:100;display:none;}
.modal .service-card{width:2rem;height:3rem;position:absolute;top:50%;left:50%;margin:-1rem 0 0 -1rem;color:#fff;padding-top:.5rem;}
.modal .service-card img{width:.6rem;height:.8rem;background:#f5ad60;float:left;margin-right:.1rem;}
.modal .service-card h4{font-size:.28rem;line-height:.2rem;position:absolute;top:0;left:0;}
.modal .service-card small{font-size:.14rem;line-height:.3rem;}
.modal .service-card h5,.modal .service-card h6{font-size:.16rem;line-height:.25rem;}

/*.job-tit{height:1.3rem;background-size:180%}*/
.job-tit{height:1.8rem;background-size:180% 1.8rem}
.service-info1{background: url(http://s.nashspace.com/r/i/14.jpg) center top no-repeat;background-size:170%;}
.service-info2{background: url(http://s.nashspace.com/r/i/15.jpg) center top no-repeat;background-size:300%;}
.service-info dt{font-size:.13rem;margin-bottom:.05rem;}
.service-info dd{font-size:.10rem;margin-bottom:.1rem;}
.service-info li{background:#f5ad60;}
.service-info li p{height:.3rem;line-height:.3rem;text-align:center;color:#fff;font-size:.12rem;}
.service-img{background:#fff;}
.about-info2 h4{color:#f18e38;line-height:.3rem;margin-bottom:.05rem;}
.about-info2 li{margin-bottom:.2rem;}
.about-info strong{display:block;margin:0 auto;width:2rem;text-align:center;font-size:.2rem;color:#f18e38;line-height:.4rem;}

.service-layer-ban {background: #FFFFFF; height: 2.0rem;}
.service-info .dl-2 {padding: 0 0 0;}

.about-info3 ul li {
    margin-top:.2rem;
}

.join-img li{position:relative;}
.join-img li p{position:absolute;width:100%;height:.35rem;bottom:0;background:rgba(0,0,0,.5);color:#fff;line-height:.35rem;text-indent:1em;font-size:.13rem;margin:0;}

.job-info{padding:0 0;}
.job-info li{background:#fff;text-align:center;font-size:.12rem;line-height:.2rem;color:#666;position:relative;padding:0 .1rem .3rem;}
.job-info li:nth-child(even){background:#f4f4f4;}
.job-info li h5{font-size:.16rem;line-height:.3rem;color:#333;}
.job-info li i{position:absolute;width:.2rem;height:.2rem;bottom:0;left:50%;margin-left:-.1rem;background:#f7c58f;}

.strong_num{font-size: .2rem;color: #f69002;}

.project-contact{text-align: center;}

.picFocus{width:100%;height:2rem;display:inline-block;*display:inline;*zoom:1;position:relative;overflow:hidden;margin:.1rem 0;}
.picFocus ul{width:9999px;position:absolute;left:0;}
.picFocus ul:after{content:'\0020';display:block;clear:both;height:0;}
.picFocus ul li{width:3rem;float:left;overflow:hidden;}
.picFocus img{}
.picFocus a{position:absolute;width:.3rem;height:.3rem;top:45%;background-color:rgba(0,0,0,0);background-repeat:no-repeat;background:contain;}
.picFocus a.prev{left:0;background-image:url(http://nashspace.b0.upaiyun.com/r/project/l.png);background-position:.03rem center;}
/*.picFocus a.prev:hover{background-image: (http://nashspace.b0.upaiyun.com/r/project/d2.png);}*/
.picFocus a.next{right:0;background-image:url(http://nashspace.b0.upaiyun.com/r/project/r.png);background-position:.03rem center;}
/*.picFocus a.next:hover{background-image: url(http://nashspace.b0.upaiyun.com/r/project/d2.png);}*/
